<% layout('layout/layout') %>
<% block('title', 'Игра') %>

<div class="col-md-6 well">
    <div id="gameboard">
        <table>
            <tr id="defited-piece">
            </tr>
        </table>
        <table>
            <tr>
                <td class="top-left-corner"></td>
                <td class="top-border"></td>
                <td class="top-border"></td>
                <td class="top-border"></td>
                <td class="top-border"></td>
                <td class="top-border"></td>
                <td class="top-border"></td>
                <td class="top-border"></td>
                <td class="top-border"></td>
                <td class="top-right-corner"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="left-border"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="cell empty"></td>
                <td class="right-border"></td>
            </tr>
            <tr>
                <td class="bottom-left-corner"></td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="bottom-border"></td>
                <td class="bottom-right-corner"></td>
            </tr>
        </table>
        <table>
            <tr id="affected-piece">
            </tr>
        </table>
    </div>
</div>
<div class="col-md-6 well">
    <div id="oponent-info"> Поиск противника... </div>
    <div id="player-info"></div>
    <div id="undoMove" class="btn btn-primary">Отменить ход</div>
    <a id="home" class="btn btn-primary" href="/lobby">На главную</a>
    <br>Лог ходов:
    <div id="log">
    </div>
</div>


<div id="modal_form">
    <span id="modal_close">X</span>
    <div id="msg"></div>
</div>
<div id="overlay"></div>

<script src="/bower_components/socket.io-client/socket.io.js"></script>
<script src="/javascripts/client.js"></script>