<% layout('layout/layout') %>
<% block('title', 'Лобби') %>

<div>
    <!-- Навигация -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#game" aria-controls="game" role="tab" data-toggle="tab">Игра</a></li>
        <li><a href="#stat" aria-controls="stat" role="tab" data-toggle="tab">Статистика</a></li>
    </ul>
    <!-- Содержимое вкладок -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="game">
            <div class="well">
                Привет, <%= user.username%>!<br><br>
                <form action="/findgame" method="post">
                    <input type="radio" name="color" value="white">Белые<br>
                    <input type="radio" name="color" value="black">Черные<br><br>

                    <input class="btn btn-primary" type="submit" value="Найти игру">
                </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="stat"><div class="well">
                <%= user.username%><br><br>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Число побед</td>
                        <td>Число поражений</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><%= user.victory%></td>
                        <td><%= user.defeat%></td>
                    </tr>
                    </tbody>
                </table>
            </div></div>
    </div>
</div>