<% layout('layout/layout') %>
<% block('title', 'Вход') %>
<form action="/login" method="post">
    <div class="form-horizontal">
        <hr />
        <input type="hidden" name="returnUrl" />
        <div class="form-group">
            <label class="control-label col-md-2">Электронный адрес</label>
            <div class="col-md-3">
                <input class="form-control text-box single-line" data-val="true" data-val-required="Требуется поле Email." name="Login" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Пароль</label>
            <div class="col-md-3">
                <input class="form-control text-box single-line password" data-val="true" data-val-required="Требуется поле Password." name="Password" type="password" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>