body {
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#modal_form {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}

#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}

#overlay {
  z-index:3;
  position:fixed;
  background-color:#000;
  opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}

#gameboard {
  display: none;
}

#oponent-info {
  font-size: 25px;
  padding-bottom: 10px;
}

#player-info {
  font-size: 25px;
  padding-top: 10px;
  display: none;
}

#affected-piece, #defited-piece{
  height: 42px;
  font-size: 30px;
}

.top-border, .bottom-border, .left-border, .right-border,
.top-left-corner,.top-right-corner, .bottom-left-corner, .bottom-right-corner{
  width: 30px;
  height: 30px;
  background-color: saddlebrown;
  color: white;
  text-align: center;
}

.top-border{
  border-bottom: solid 5px #8a6d3b;
}

.bottom-border {
  border-top: solid 5px #8a6d3b;
}

.left-border {
  border-right: solid 5px #8a6d3b;
}

.right-border {
  border-left: solid 5px #8a6d3b;
}

.top-left-corner {
  border-top-left-radius: 30px;
}

.top-right-corner {
  border-top-right-radius: 30px;
}

.bottom-left-corner {
  border-bottom-left-radius: 30px;
}

.bottom-right-corner {
  border-bottom-right-radius: 30px;
}

.cell {
  width: 46px;
  height: 46px;
  font-size: 30px;
  text-align: center;
}

#a1, #c1, #e1, #g1, #b2, #d2, #f2, #h2, #a3, #c3, #e3, #g3, #b4, #d4, #f4, #h4,
#a5, #c5, #e5, #g5, #b6, #d6, #f6, #h6, #a7, #c7, #e7, #g7, #b8, #d8, #f8, #h8 {
  background-color: gray;
}

#b1, #d1, #f1, #h1, #a2, #c2, #e2, #g2, #b3, #d3, #f3, #h3, #a4, #c4, #e4, #g4,
#b5, #d5, #f5, #h5, #a6, #c6, #e6, #g6, #b7, #d7, #f7, #h7, #a8, #c8, #e8, #g8 {
  background-color: white;
}

#gameboard .selected {
  background-color: #a6e1ec;
}
#gameboard .valid-move, #gameboard .valid-castle{
  background-color: #5cb85c;
}
#gameboard .valid-attack{
  background-color: #ce8483;
}

#gameboard .last-selected {
  border: 4px solid #a6e1ec;
  width: 42px;
  height: 42px;
}
#gameboard .last-move{
  border: 4px solid #5cb85c;
  width: 42px;
  height: 42px;
}
#gameboard .last-attack{
  border: 4px solid #ce8483;
  width: 42px;
  height: 42px;
}

.black.pawn:before    { content: "\265F"; }
.black.rook:before    { content: "\265C"; }
.black.knight:before  { content: "\265E"; }
.black.bishop:before  { content: "\265D"; }
.black.queen:before   { content: "\265B"; }
.black.king:before    { content: "\265A"; }
.white.pawn:before    { content: "\2659"; }
.white.rook:before    { content: "\2656"; }
.white.knight:before  { content: "\2658"; }
.white.bishop:before  { content: "\2657"; }
.white.queen:before   { content: "\2655"; }
.white.king:before    { content: "\2654"; }